/*MARK: Header Section */

#headerNavigation{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}

#navigation{
    display: flex;
    gap: 10px;
    
}

#headerTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


#subtitle {
    color:rgba(128, 128, 128, 0.918)

}
/*MARK: Call Us Section */

#callUs{
    display: flex;
    flex-direction: row;
    gap: 16 px;

}

#article {
    flex-basis: 60%;
    flex-grow: 0%;
    margin-left: 32px;

}

#article img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
}

#form {
    flex-basis: 40%;
    flex-grow: 0%;
    background-color: gray;
    margin-right: 64px;
    border-radius: 8px;

}

.titleSubtitle {
    margin: 8px 8px;
    
}


